.header { 
    background-color: #1f2937;
    color: var(--color-text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerInner { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logoButton { 
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #f59e0b;
    cursor: pointer;
    border: none;
    background: none 
}