* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

      /* ==================== */
    /* Colores Base (Primarios y Feedback) */
    /* ==================== */
  --color-primary: #007bff;          /* Azul: para botones principales, links, y énfasis. */
  --color-primary-dark: #0056b3;     /* Azul Oscuro: para hover/activo. */

  --color-secondary: #6c757d;        /* Gris: para botones secundarios o texto sutil. */
  --color-secondary-dark: #5a6268;

  --color-danger: #dc3545;           /* Rojo: para errores y acciones destructivas. */
  --color-danger-dark: #bd2130;

  --color-success: #28a745;          /* Verde: para mensajes de éxito. */
  --color-warning: #ffc107;          /* Amarillo: para alertas. */

    /* ==================== */
    /* Colores de Texto y Fondo */
    /* ==================== */
  --color-text-dark: #212529;        /* Texto principal muy oscuro. */
  --color-text-light: #f8f9fa;       /* Texto claro (sobre fondos oscuros). */
  --color-background-page: #f8f9fa;  /* Fondo ligero de la página. */
  --color-background-card: #ffffff;  /* Fondo de contenedores (cards). */
  --color-border-light: #ced4da;     /* Color sutil para bordes y separadores. */

    /* ==================== */
    /* Espaciado y Sombra (Opcional) */
    /* ==================== */
  --spacing-unit: 8px; /* Unidad base para padding/margin (escalas de 8) */
  --border-radius: 4px;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
  font-weight: 600;
  color: #374151;
  margin-bottom: 1rem;
}

/* .page {
  min-height: '100vh';
  display: 'flex';
  flex-direction: 'column';
  background-color: var(--color-background-page);
}

.container {
  max-width: '1280px';
  margin: '0 auto';
  padding: '0 1rem';
  width: '100%';
}

.mainContent { 
  flex-grow: 1;
  padding: '2rem 1rem';
} */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
