.formCard { 
    background-color: white; 
    padding: 2rem; 
    border-radius: 1rem; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 400px;
}